<aside id="sidebar">
		<nav>
			<ul>
				<li class="all-athletes">
					<%= link_to 'All Athletes', athletes_path, class: 'button' %>
				</li>
				<% if current_user_admin? %>
				<li class="create-athlete">
					<%= link_to 'Add New Athlete', new_athlete_path, class: 'button' %>
				</li>	
				<% end %>
			</ul>
		</nav>
	</aside>	